nav.offscreen-master{
    @include position(fixed, 0, 0, 0, 0);
    background: $white;
    width: 100%;
    min-width: 180px;
    max-width: 420px;

    &.initial{
        left: -420px;
    }

    &.open{
        left: 0;
    }

    ul{
        margin: 0;
        padding: 0;

        li{
            list-style: none;
            display: block;

            a{
                color: $base;
                text-decoration: none;
                display: block;
                padding: 5px 10px;

                &:hover,
                &:focus{
                    color: $primary;
                    outline: none;
                }

                &:active,
                &:visited{
                    color: $primary-dark;
                    text-decoration: none;
                    outline: none;
                }

            }

            > ul li{
                padding-left: 10px;
            }

        }

    }

}

/* Hamburger Menu Styling*/
.hamburger{
    position: relative;
    width: 22px;
    height: 42px;
    cursor: pointer;
    margin: 20px;

    span{
        &.line{
            width: 22px;
            height: 2px;
            background: $base;
            display: block;
            margin-bottom: 5px;
        }

    }

    &:hover,
    &:focus{
        span{
            &.line{
                background: $primary;
            }
        }

    }

}