nav.offscreen-master{
    @include position(fixed, 0, 0, 0, -420px);
    // @include transition(all linear 0.35s );
    z-index: 44;
    background: $white;
    width: 100%;
    min-width: 180px;
    max-width: 420px;
    overflow-y: auto;

    &.open{
        left: 0;
    }

    ul{
        margin: 0;
        padding: 0;

        li{
            list-style: none;
            display: block;
            position: relative;

            a{
                @include overflowtext();
                color: $base;
                position: relative;
                text-decoration: none;
                display: block;
                font-size: 14px;
                padding: 15px;
                border-bottom: 1px solid darken( $white, 2%);


                &:hover,
                &:focus{
                    color: $primary;
                    outline: none;
                }

                &:active,
                &.active{
                    color: $primary-dark;
                    text-decoration: none;
                    outline: none;
                }

            }

            &.hassubmenu{
                position: relative;

                &:before{
                    content: ' + ';
                    @include position(absolute, 15px, 7px, 0, auto);
                    @include border-radius(50%);
                    color: lighten($base, 5%);
                    cursor: pointer;
                    width: 20px;
                    text-align: center;
                    height: 20px;
                    line-height: 19px;
                    display: inline-block;
                    background: darken($white, 2%);
                    // z-index: 55;
                }
                &.active{
                    &:before{
                        content: '-';
                    }
                }
            }

            > ul li{
                padding-left: 10px;
            }

            .hidesubmenu{
                display: none;
            }

            .showsubmenu{
                display: block;
            }

        }

    }

}

.oc-close{
    @include position(absolute, 0, 30px, 0, auto);
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: $white;
    text-align: center;
    line-height: 30px;
    display: none;
    z-index: 55;
}

@if $appear-from == 'right'{
    nav.offscreen-master{
        left: auto;
        text-align: right;

        &.openmaster{
            right: 0;
        }

        &:open{
            left: auto;
            right: 0;
        }

        ul{
            li{
                .hasSub{
                    left: 7px;
                }

                > ul li{
                    padding-left: 0;
                    padding-right: 10px;
                }
            }
        }

    }

}
.oc-open{
    cursor: pointer;
}
.show{
    display: block;
}

.hide{
    display: none;
}

.close-master{
    background: $primary;
    color: white;
    font-size: 14px;
    font-weight: 300;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
}

/* Hamburger Menu Styling*/
.hamburger{
    position: absolute;
    top : 0;
    width: 22px;
    height: 42px;
    z-index: 33;
    cursor: pointer;
    margin: 20px;

    span{
        &.line{
            width: 22px;
            height: 2px;
            background: $base;
            display: block;
            margin-bottom: 5px;
        }

    }

    &:hover,
    &:focus{
        span{
            &.line{
                background: $primary;
            }
        }

    }

}

.oc-overlay{
    @include position(absolute, 0, 0, 0, 0);
    background: rgba($black, 0.95);
    overflow-y: hidden;
    z-index: 33;
}