$base-font-size: 14px;

$white: #fff;
$black: #000;
$base: #212121;

$primary: #0071bc;
$primary-dark: darken($primary, 5%);
$primary-darker: darken($primary, 10%);
$primary-light: lighten($primary, 5%);
$primary-lighter: lighten($primary, 10%);

$secondary: #e31c3d;
$secondary-dark: darken($secondary, 5%);
$secondary-darker: darken($secondary, 10%);
$secondary-light: lighten($secondary, 5%);
$secondary-lighter: lighten($secondary, 10%);